
@{
	ViewBag.Title = "Sancrisoft";
}

<h2>Sancrisoft</h2>

<div>

	<ul>
		<li>@Html.ActionLink("Aplicantes", "Index", "Aplicantes")</li>
		<li>@Html.ActionLink("Cargos", "Index", "Cargos")</li>
	</ul>
</div>

